<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ start.php?url=$1 [L]
    #RewriteRule ^(.*).sql$ index.php?url=$1 [L] por si qieres cambiar de extención
    #RewriteRule ^(.*)$ index.php?url=$1 [L]
</IfModule>
